@import url(https://raw.githubusercontent.com/hunter0980/blep/refs/heads/main/blep2.css);
.avatar_c19a55[src*="1457995743322443893"] ~ h3 > .headerText_c19a55::after {
  content: "Goober";
  background-color: #b418b9;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
  border-radius: 4px;
  padding: 0 4px;
  font-size: 10px;
  margin-left: 6px;
  vertical-align: middle;
}


.avatar_c19a55[src*="1152733749168050256"] ~ h3 > .headerText_c19a55::after {
  content: "Goober";
  background-color: #3706be;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
  border-radius: 4px;
  padding: 0 4px;
  font-size: 10px;
  margin-left: 6px;
  vertical-align: middle;
}


@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/RosyNight/RosyNight.theme.css');
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
  --rosynight-app-bg: #fc8686;
  --rosynight-bg: #181818;
  --rosynight-bg2: #212121;
  --rosynight-main: #fc8686;
  --rosynight-main2: #f3aeae;
  --rosynight-message-color: #f3aeae;
  --watermark-filter-invert: 78%;
  --watermark-filter-sepia: 46%;
  --watermark-filter-saturate: 536%;
  --watermark-filter-hue-rotate: 310deg;
  --watermark-filter-brightness: 150%;
  --watermark-filter-contrast: 88%;  
}
